<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/about.png' %}">
    <link rel="stylesheet" href="{% static 'css/About.css' %}">
</head>
<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'gallery' %}">Gallery</a>
<h1>Additional info about us</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus, aliquid aspernatur at atque culpa debitis delectus dolore explicabo illum laboriosam magnam maxime omnis, placeat quibusdam repudiandae sed suscipit totam.</span><span>Animi cum iusto labore rerum totam! Cum deserunt earum explicabo facere pariatur, quaerat rem voluptatem. Adipisci assumenda aut ea impedit laborum, soluta sunt voluptates. Aliquam aliquid eligendi tenetur unde vel.</span><span>Architecto blanditiis dicta dolorum earum eos minus nisi obcaecati? At autem, cum enim esse et expedita incidunt inventore magni minima minus obcaecati omnis, optio placeat quia soluta, temporibus vel voluptatem.</span></p>
<h2>Why choose us</h2>
<div id="Main">
    <div class="div">
        <img src="{% static 'assets/Watch1.png' %}" alt="" class="image">
        <H3>Watch 1</H3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, animi at dignissimos distinctio impedit, itaque iure libero numquam possimus, quam quo repellendus saepe? Animi dicta incidunt iure nihil qui.</span><span>Asperiores at consectetur, doloremque ea, esse fuga illo, illum maiores minima nam necessitatibus neque nostrum obcaecati odio odit porro quaerat quidem quisquam quos similique tempora ullam vel? Amet, minima, modi.</span></p>
        <button>More</button>

    </div>
    <div class="div">
         <img src="{% static 'assets/watch2.png' %}" alt="" class="image">
        <H3>Watch 2</H3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, animi at dignissimos distinctio impedit, itaque iure libero numquam possimus, quam quo repellendus saepe? Animi dicta incidunt iure nihil qui.</span><span>Asperiores at consectetur, doloremque ea, esse fuga illo, illum maiores minima nam necessitatibus neque nostrum obcaecati odio odit porro quaerat quidem quisquam quos similique tempora ullam vel? Amet, minima, modi.</span></p>
        <button>More</button>


    </div>
    <div class="div">
         <img src="{% static 'assets/watch3.png' %}" alt="" class="image">
        <H3>Watch 3</H3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, animi at dignissimos distinctio impedit, itaque iure libero numquam possimus, quam quo repellendus saepe? Animi dicta incidunt iure nihil qui.</span><span>Asperiores at consectetur, doloremque ea, esse fuga illo, illum maiores minima nam necessitatibus neque nostrum obcaecati odio odit porro quaerat quidem quisquam quos similique tempora ullam vel? Amet, minima, modi.</span></p>
        <button>More</button>

    </div>

</div>



</body>
</html>