<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homepage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">

    <style>
        h1{
           text-align: center;
            color: #850c1c;
            font-size: 50px;


        }




    </style>
</head>
<body>
<a href="{% url 'about' %}">About</a>
<a href="{% url 'gallery' %}">Gallery</a>

<marquee behavior="" direction=""><h1>Shopdish App</h1></marquee>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam architecto autem corporis, delectus deleniti deserunt id ipsam laboriosam laborum libero natus nemo odit optio provident quasi saepe tenetur totam!</span><span>Amet at atque aut beatae blanditiis cum debitis doloremque dolores ea, eius eum ex fugit hic illo itaque minima nam non obcaecati porro qui quos, reiciendis sit temporibus unde veritatis.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aspernatur consequatur eaque esse est ex exercitationem illo incidunt magnam molestias, necessitatibus nemo perferendis quo, quos tempora unde veritatis voluptates.</span><span>Accusantium, alias aliquid beatae consequuntur deleniti dolorem doloribus eaque earum eos eveniet excepturi harum labore laudantium minus nemo neque officia perspiciatis provident quos rem soluta sunt tempora tenetur totam voluptatem?</span><span>Aut blanditiis distinctio incidunt ipsam itaque, labore obcaecati placeat? Beatae consectetur dolorem hic, id possimus quam quisquam repellat reprehenderit sit! Amet aperiam dolorum expedita hic mollitia non quae ratione veritatis.</span></p>






</body>
</html>