<!doctype html>
<html lang="en">
</head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product page</title>
    {% load static %}
       <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
       <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<body>
<h1 class="text-center table-warning">Product details</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque ex facere hic, incidunt laudantium molestias nemo officiis quidem quisquam recusandae reiciendis rem sapiente sequi soluta suscipit, totam, velit veniam.</span><span>Adipisci dolore dolorem enim fugiat impedit incidunt labore maxime nisi pariatur quo repellendus, sed ullam, unde, vel veritatis. Dolore esse ipsum libero quos, sapiente vel voluptatem. Cupiditate illo iusto maxime.</span></p>
<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>

    </tr>
    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 bags</td>


    </tr>
     <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 bags</td>


    </tr>
     <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>


    </tr>
     <tr>
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>


    </tr>
     <tr class="table-success">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>


    </tr>


</table>

</body>
</html>